@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    background-color: #000;
    overflow-y: hidden;
    height: 100%;
}
/* Hide the arrows for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

/* Hide the arrows for Firefox */
input[type="number"] {
     -moz-appearance: textfield;
    }   